<body>
    <div class="page-wrapper">
        <section class="text-wrapper">
            <h1>
                Sobre mim
            </h1>
            <p>
                Olá! Eu me chamo Verônica Leeker, sou carioca e atualmente resido em Zurique (Suíça).</p>
            <p>
                Sou Aromaterapeuta, Terapeuta Capilar e Esteticista formada na escola da Suíça, além de Consultora da Empresa dōTerra e <span class="bold">Personal Stylist (Consultora de Estilo).</span>
            </p>
            <span>.</span>
            <p>
                Atualmente, estou finalizando meu curso de Nutrição e já me especializando na área de Nutrição aplicada à Medicina Estética (amo estudar, não paro nunca rs).
            </p>
            <span>.</span>
            <p>
                Também sou pós-graduada em Letras (Literaturas). No Brasil, trabalhei como funcionária pública na Universidade Federal do Rio de Janeiro, por anos. Em 2018, pedi Licença no trabalho e me mudei para Europa com meu marido. Aqui tive a oportunidade de fazer
                a transição da minha vida profissional para as áreas que sempre flertei: tecnologia, saúde e bem-estar, para verdadeiramente cuidar de pessoas.
            </p>
            <span>.</span>
            <p>
                Sejam muito bem-vindas ao meu espaço e espero que possamos nos ver, em breve, no meu estúdio na Europaalle (Zurique).
            </p>
        </section>

        <section class="photo-wrapper">
            <div class="photo-container">
                <div class="photo"></div>
            </div>
        </section>

    </div>
</body>